* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-color: rgb(46, 45, 45);
    --color-1: rgb(65, 65, 65);
    --color-2: lightblue;
}

body {
    display: flex;
    /* min-height: 100vh; */
}

nav {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
}

#name {
    font-size: larger; 
    display: flex;
    color: var(--text-color);
    text-align: center;
    padding: 25px 10px 25px 100px;
    flex-wrap: wrap;
    background-color: var(--color-2);
}

li a {
    display: flex; 
    color: var(--color-2);
    text-align: center;
    padding: 35px 25px;
    text-decoration: underline 3px var(--color-2);
    flex-wrap: wrap;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:var(--color-2);
}

.Cat {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../assets/meow-meow.webp.jpg);
    background-size: cover;
    background-position: center;
}
.container { 
    position: relative;
    text-align: center;
    background-color: white;
    background-size: cover;
}

#bottom-right {
    position: absolute;
    bottom: 35px;
    right: 16px;
    background-color: var(--color-2); 
    color: var(--text-color);
    padding: 7px;
    font-size: 25px;
    font-weight: bold;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section-main {
    flex: 0 0 70%;
    /* height: 250px; */
}

.section-heading {
    flex: 0 0 20%;
    text-align: right;
    border-right: 2px solid black;
}

section { 
    min-height: 250px;
    border:solid purple 2px;
    margin:10px;
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
}

.About-me {
}












